### https://raw.github.com/github/gitignore/cdde85a36ecb48a162385829d198a7a5bf429a63/Composer.gitignore

composer.phar
/vendor/

# Library lock files should not be committed
# https://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

# Japanese documentation (not committed to repository)
*.ja.md
/attic/

# PHPUnit cache
.phpunit.cache/
.phpunit.result.cache
