### https://raw.github.com/github/gitignore/cdde85a36ecb48a162385829d198a7a5bf429a63/Composer.gitignore

composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

# Japanese documentation (not committed to repository)
*.ja.md
